<!-- section-1 - Start -->
<section id="section-1" class="section-1">
    <div class="section-1__large ">
        <h3 class="section-1__large-title">Давайте разберемся, какими бывают женские половые гормоны и за что
            они отвечают.</h3>
        <div class="section-1__large-row">
            <div class="section-1__large-col">
                <h2 class="section-1__large-subtitle substrate substrate--pink"><a class="landing_link"
                        href="/expert-opinion/v-garmoni-s-gormonami-posle-45-chast-1/">Эстрогены:</a></h2>
                <div class="section-1__large-list">
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/1.svg" alt="">
                        </div>
                        <p>
                            • Регуляция менструального цикла
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/2.svg" alt="">
                        </div>
                        <p>
                            • Либидо <br>
                            • Контроль температуры тела <br>
                            • Улучшение памяти
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/3.svg" alt="">
                        </div>
                        <p>
                            <a class="landing_link"
                                href="https://womenfirst.ru/expert-opinion/serdechno-sosudistye-zabolevaniya/">•
                                Защита сердечно-сосудистой системы</a>
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/4.svg" alt="">
                        </div>
                        <p>
                            • Контроль холестерина
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/5.svg" alt="">
                        </div>
                        <p>
                            • Регуляция плотности костной ткани
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/estrogens/6.svg" alt="">
                        </div>
                        <p>
                            • Защита от возрастных изменений кожи <br>
                            • Контроль метаболизма и нормального веса
                        </p>
                    </div>
                </div>
            </div>
            <div class="section-1__large-col">
                <h2 class="section-1__large-subtitle substrate substrate--violet"><a class="landing_link"
                        href="/expert-opinion/v-garmoni-s-gormonami-posle-45-chast-2/">Гестагены:</a></h2>
                <div class="section-1__large-list">
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/gestagens/1.svg" alt="">
                        </div>
                        <p>
                            <a class="landing_link" href="/stati/jenskii-cikl/">• Регуляция менструального цикла
                                <br></a>
                            <a class="landing_link" href="/stati/beremennost/">• Подготовка организма к
                                беременности</a>
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/gestagens/2.svg" alt="">
                        </div>
                        <p>
                            • Участие в цикле сон-бодрствование <br>
                            • Антидепрессант
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/gestagens/3.svg" alt="">
                        </div>
                        <p>
                            • Стимуляция роста волос <br>
                            • Сжигание жира <br>
                            • Защита от отеков
                        </p>
                    </div>
                    <div class="section-1__large-item">
                        <div class="section-1__large-item-img">
                            <img src="images/gestagens/4.svg" alt="">
                        </div>
                        <p>
                            • Работа щитовидной железы
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-1__small ">
        <h3 class="section-1__small-title">
            <a class="landing_link"
                href="/stati/jenskii-cikl/posledstviya_chrezmernogo_snizheniya_ili_povysheniya_soderzhaniya_polovykh_gormonov/"><strong>
                    Недостаток
                    половых гормонов
                </strong></a><span>способен негативно влиять на ваше здоровье и качество жизни.</span>
        </h3>
        <div class="section-1__small-content">
            <p>Железы внутренней секреции выделяют биологически активные вещества, которые называются «гормоны».
            </p>
            <p>Циркулируя в крови, гормоны принимают участие во многих процессах внутри организма: например, в
                обмене веществ, половой функции. И даже влияют на настроение!</p>
            <p>Главные женские половые гормоны — <span class="pink">эстрогены</span> и <span
                    class="violet">гестагены</span>.</p>
            <p>
                <i>Тем не менее, организм женщины производит и мужские половые гормоны. Включая тестостерон, без
                    которого не обходится репродуктивная функция. Он также способствует гормональному балансу и
                    синтезу эстрогенов.</i>
            </p>
        </div>
    </div>
    <div class="section-1__aside ">
        <div class="section-1__aside-block">
            <span class="section-1__aside-title">
                <span>25</span>лет
            </span>
            <ul class="section-1__aside-list">
                <li>Отличное самочувствие</li>
                <li>Максимум энергии</li>
                <li>Пик фертильности</li>
            </ul>
        </div>
        <div class="section-1__aside-block">
            <span class="section-1__aside-title">
                <span>35</span>лет
            </span>
            <ul class="section-1__aside-list">
                <li>Снижение выработки женских гормонов</li>
                <li>Замедление метаболизма</li>
                <li>Снижение фертильности</li>
            </ul>
        </div>
        <div class="section-1__aside-block">
            <span class="section-1__aside-title">
                <span>45</span>лет
            </span>
            <ul class="section-1__aside-list">
                <li>Снижение выработки эстрогена</li>
                <li>Снижение сексуального желания</li>
                <li>Уменьшение мышечной массы</li>
                <li>Частые смены настроения</li>
                <li>Снижение работоспособности</li>
            </ul>
        </div>
        <div class="section-1__aside-block">
            <span class="section-1__aside-title">
                <span>55</span>лет
            </span>
            <ul class="section-1__aside-list">
                <li>Дефицит женских половых гормонов</li>
                <li>Недостаток энергии</li>
                <li>Бессонница</li>
                <li>Ухудшение памяти</li>
                <li>Увеличение массы тела</li>
            </ul>
        </div>
    </div>
</section>
<!-- section-1 - End -->