<!-- section-2 - Start -->
<section id="section-2" class="section-2">
    <h2 class="section-2__title">
        <a class="landing_link"
            href="/stati/jenskii-cikl/posledstviya_chrezmernogo_snizheniya_ili_povysheniya_soderzhaniya_polovykh_gormonov/">
            <span class="substrate substrate--pink">Какими могут быть последствия</span>
            <br>
            <span class="section-2__title-span substrate substrate--violet">дефицита</span>
            <span class="pink">женских гормонов?</span>
        </a>
    </h2>
    <div class="section-2__row">
        <div class="section-2__col section-2__top">
            <div class="section-2__item section-2__item--1">
                <p><a class="landing_link" href="/stati/45/klimaks/">Менопауза</a> — это не болезнь, а
                    естественный период в жизни каждой женщины, следствием которого становится ряд изменений в
                    организме. С течением времени они могут негативно влиять на самочувствие и состояние
                    здоровья.</p>
            </div>
            <div class="section-2__item section-2__item--2">
                <strong>Ухудшение внешнего вида</strong>
                <p>Волосы становятся более редкими, сухими и повреждёнными. Ногти могут истончаться и ломаться.
                    Кожа теряет свой тонус, морщины углубляются. Лишний вес легко набирается и плохо поддается
                    контролю. Не редкость — появление отеков.</p>
            </div>
            <div class="section-2__item section-2__item--3">
                <a class="landing_link"
                    href="/stati/klimaks/osteoporoz_simptomy_lechenie/"><strong>Остеопороз</strong></a>
                <p>В связи с дефицитом кальция кости теряют плотность и прочность. При остеопорозе они способны
                    ломаться даже от незначительного механического воздействия.</p>
            </div>
        </div>
        <div class="section-2__col section-2__middle">
            <div class="section-2__item section-2__item--4">
                <a class="landing_link"
                    href="/expert-opinion/serdechno-sosudistye-zabolevaniya/"><strong>Сердечно-сосудистые
                        заболевания</strong></a>
                <p class="pink">Во время менопаузы 80% женщин сталкивается с повышенным давлением.</p>
                <p>Из-за развития атеросклероза сосудов и его «спутников» — ишемической болезни сердца,
                    артериальной гипертонии — возрастает риск инсульта. Дефицит эстрогена провоцирует
                    тахикардию, нарушения сердечного ритма, спазмы сердечных сосудов.</p>
            </div>
        </div>
        <div class="section-2__col">
            <div class="section-2__item section-2__item--5">
                <strong>Проблемы в сексуальной жизни</strong>
                <p>Из-за сухости влагалища и снижения сексуального влечения половые акты могут доставлять
                    неприятные ощущения или вовсе перестать быть желанными.</p>
                <p class="pink">В среднем менопауза наступает в 50 лет. Лишь у малой доли женщин (1%) — раньше
                    40 лет, что является преждевременной недостаточностью яичников.</p>
            </div>
            <div class="section-2__item section-2__item--6">
                <strong>Увеличение веса</strong>
                <p>Замедление обмена веществ нарушает липидный, углеводный обмен. Что является предпосылкой
                    развития диабета 2 типа и сопутствующих ему заболеваний зрения, сердечно-сосудистой системы,
                    суставов, мочеполовой системы.</p>
            </div>
        </div>
    </div>
</section>
<!-- section-2 - End -->