        <!-- section-5 - Start -->
        <section id="section-5" class="section-5">
            <h2 class="section-5__title">
                <span class="substrate substrate--pink">Какими бывают препараты</span>
                <span class="pink heading-3">для менопаузальной гормональной терапии?</span>
            </h2>
            <div class="section-5__row">
                <div class="section-5__col section-5__col--first">
                    <div class="section-5__item">
                        <h3><a class="landing_link" href="/stati/klimaks/klimaks_vybor_est/">Монотерапия эстрогенами</a>
                        </h3>
                        <p>Такие препараты содержат исключительно эстрогены и, в основном, назначаются женщинам,
                            прошедшим через процедуру удаления матки</p>
                    </div>
                    <div class="section-5__item">
                        <h3>Монотерапия гестагенами</h3>
                        <p>Препараты, которые содержат только гестаген. Они назначаются заранее, на этапе перименопаузы,
                            способствуют регуляции женского цикла и профилактике заболеваний матки</p>
                    </div>
                </div>
                <div class="section-5__col section-5__col--second">
                    <div class="section-5__item">
                        <h3>Комбинированная терапия</h3>
                        <p>
                            Препараты, содержащие два действующих вещества, аналогичных главным женским половым
                            гормонам: эстрогену и прогестерону.
                        </p>
                        <p>
                            <strong>Эстроген</strong> как компонент терапии применяется для устранения приливов,
                            расстройств сна и настроения, болей в голове. Помогает замедлить старение кожи и выпадение
                            волос, борется с нарушениями половой функции, предотвращая сухость влагалища и дискомфорт
                            при половых актах. Способствует профилактике атеросклероза, остеопороза.
                        </p>
                        <p>
                            <strong>Гестаген</strong> в ходе терапии помогает уменьшить риски развития гиперплазии и
                            рака эндометрия, повышающиеся вследствие менопаузы.
                        </p>
                    </div>
                </div>
                <div class="section-5__col section-5__col--large">
                    <h3>Существует два режима терапии:</h3>
                    <div class="section-5__large-list">
                        <p class="section-5__large-item">
                            <strong>Циклический</strong>: первые 2 недели применение только эстрогена, затем — эстрогена
                            и гестагена вместе. Это сохраняет подобие менструации.
                        </p>
                        <p class="section-5__large-item">
                            <strong>Непрерывный</strong>: совместный прием эстрогена и гестагена, без
                            менструальнопободной реакции.
                        </p>
                    </div>
                    <div class="section-5__large-content">
                        <p>В случае наличия матки или диагностированного эндометриоза применяется комбинация эстрогена и
                            гестогена</p>
                        <p>Комбинированная терапия на данный момент является оптимальным способом заместительной
                            гормональной терапии, поскольку способствует поддержанию уровня эстрогенов и, в то же время,
                            защищает матку посредством гестагена</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- section-5 - End -->