<!-- section-3 - Start -->
<section id="section-3" class="section-3">
    <h2 class="section-3__title">
        <span class="substrate substrate--pink">Как облегчить</span>
        <span class="pink heading-3">симптомы менопаузы?</span>
    </h2>
    <div class="section-3__row">
        <div class="section-3__col">
            <div class="section-3__item section-3__item--1">
                <p>
                    <strong class="violet">Прием фитоэстрогенов</strong> — <a class="landing_link"
                        href="https://womenfirst.ru/stati/klimaks/effektivnye_preparaty_pri_klimakse/">препаратов</a>,
                    полученных из растений и обладающих эстрогенподобным действием, — способствует облегчению
                    симптомов климакса. Например, приливов и ночной потливости.
                </p>
            </div>
            <div class="section-3__item section-3__item--2">
                <span class="section-3__item-title">Тем не менее,</span>
                <ul class="section-3__list">
                    <li class="section-3__list-item">Не все препараты обладают доказанной эффективностью</li>
                    <li class="section-3__list-item">Некоторые компоненты препаратов — такие, как соя, — являются
                        аллергенами</li>
                    <li class="section-3__list-item">Фитоэстрогены несовместимы с рядом лекарственных средств</li>
                    <li class="section-3__list-item">Они оказывают слабое профилактическое действие против остеопороза
                    </li>
                    <li class="section-3__list-item">Не предотвращают сердечно-сосудистые заболевания</li>
                    <li class="section-3__list-item">Способны негативно влиять на печень и уровень холестерина</li>
                    <li class="section-3__list-item">Неэффективны в случаях тяжелого течения климакса</li>
                </ul>
            </div>
        </div>
        <img src="images/img-1.jpg" alt="" class="section-3__img">
        <div class="section-3__col">
            <div class="section-3__item section-3__item--3">
                <p>
                    <strong class="pink">Где же выход? <a class="landing_link"
                            href="/stati/klimaks/terapiya_klimaks_mify_i_fakty/samoe_poleznoe_o_zgt_zamestitelnoy_gormonalnoy_terapii/">Начните
                            заместительную гормональную терапию!</a></strong>
                    <br>Для данной терапии используются препараты с небольшим содержанием дефицитных женских
                    половых гормонов — эстрогенов и прогестеронов. Они назначаются специалистом после
                    тщательного обследования организма. Такие препараты обладают доказанной эффективностью
                    лечения климактерических симптомов.
                </p>
            </div>
            <div class="section-3__item section-3__item--4">
                <span class="section-3__item-title">Прием всего раз в день!</span>
                <ul class="section-3__list">
                    <li class="section-3__list-item">Терапия может персонализированной, согласно потребностям каждой
                        женщины</li>
                    <li class="section-3__list-item">Помогает предотвратить риски развития сахарного диабета,
                        атеросклероза, сердечно-сосудистых заболеваний</li>
                    <li class="section-3__list-item">Способствует профилактике остеопороза</li>
                    <li class="section-3__list-item">Благотворно влияет на вес, здоровье кожи и волос</li>
                    <li class="section-3__list-item">Помогает уменьшить сухость влагалища и восстановить либидо</li>
                    <li class="section-3__list-item">Способствует уменьшению отеков</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- section-3 - End -->