        <!-- section-8 - Start -->
        <section id="section-8" class="section-8">
            <h2 class="section-8__title">
                <span class="substrate substrate--pink">Питайтесь</span><br>
                <span class="substrate substrate--violet section-8__title-span">правильно</span>
            </h2>
            <h3 class="section-8__subtitle violet">Активизируют процессы старения в огранизме</h3>
            <div class="section-8__row">
                <div class="section-8__col section-8__col--1">
                    <div class="section-8__item section-8__item--1">
                        <h3>Обилие легких углеводов</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Сахар (употребляйте не более чайной ложки в день)</li>
                            <li class="section-8__list-item">Хлебобулочные и кондитерские изделия</li>
                            <li class="section-8__list-item">Фруктовые соки, морсы, квас, сладкая «газировка»</li>
                            <li class="section-8__list-item">Картофель, крупы быстрого приготовления</li>
                            <li class="section-8__list-item">Сладкие мюсли, хлопья, глазированные сырки</li>
                        </ul>
                    </div>
                </div>
                <div class="section-8__col section-8__col--2">
                    <div class="section-8__item">
                        <h3>Избыток продуктов промышленной переработки</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Любые колбасы, сосиски, копчености</li>
                            <li class="section-8__list-item">Любое печенье, вафли, пастила, зефир</li>
                            <li class="section-8__list-item">Соусы включая майонез любого вида, кетчуп, готовые заправки
                                для салатов</li>
                        </ul>
                    </div>
                    <div class="section-8__item">
                        <h3>Фастфуд</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Сэндвичи и бутерброды</li>
                            <li class="section-8__list-item">Бургеры, пицца</li>
                            <li class="section-8__list-item">Жареная во фритюре пища</li>
                        </ul>
                    </div>
                </div>
                <div class="section-8__col section-8__col--3">
                    <div class="section-8__item">
                        <h3>Трансжиры</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Маргарин</li>
                            <li class="section-8__list-item">Промышленные изделия длительного хранения (например, чипсы)
                            </li>
                            <li class="section-8__list-item">Картофель фри</li>
                        </ul>
                    </div>
                    <div class="section-8__item section-8__item--2">
                        <h3>Высококалорийные диеты</h3>
                        <p>Среднесуточная норма калорий для женщин: не более <span>1800 ккал</span></p>
                    </div>
                </div>
                <div class="section-8__col section-8__col--4">
                    <div class="section-8__item">
                        <h3>Неумеренное употребление кофе и алкоголя</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Более 3 чашек кофе в день до 5:00</li>
                            <li class="section-8__list-item">Более 1 бокала (150 г) сухого вина в день</li>
                            <li class="section-8__list-item">Более 30 г крепкого алкоголя в день</li>
                        </ul>
                    </div>
                </div>
            </div>
            <h3 class="section-8__subtitle pink">«Тормозят» процессы старения в организме:</h3>
            <div class="section-8__row">
                <div class="section-8__col section-8__col--5">
                    <div class="section-8__item section-8__item--3">
                        <h3>«Анти-эйдж» продукты:</h3>
                        <ul class="section-8__list --no-dots">
                            <li class="section-8__list-item">Брокколи</li>
                            <li class="section-8__list-item">Куркума</li>
                            <li class="section-8__list-item">Горький шоколад (не менее 75% какао)</li>
                            <li class="section-8__list-item">Орехи</li>
                            <li class="section-8__list-item">Авокадо</li>
                            <li class="section-8__list-item">Черника</li>
                        </ul>
                    </div>
                </div>
                <div class="section-8__col section-8__col--6">
                    <div class="section-8__item section-8__item--4">
                        <h3>Растительная клетчатка</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Зеленые листовые овощи, например, салаты</li>
                            <li class="section-8__list-item">Комбинация сырых и тушеных или печеных овощей</li>
                        </ul>
                        <p>Необходимо соблюдать высокую долю клетчатки в рационе: до 8 порций (1 порция по объему как
                            пиала)</p>
                    </div>
                    <div class="section-8__item">
                        <h3>Меньше калорий!</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Разгрузочные дни 1-2 раза в неделю</li>
                            <li class="section-8__list-item">Ужин за 3-4 часа до сна, лучше всего — не есть после 19:00
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="section-8__col section-8__col--7">
                    <div class="section-8__item section-8__item--5">
                        <h3><a class="landing_link"
                                href="/expert-opinion/chto-takoe-antioksidanty-i-zachem-oni-nam/">Антиоксиданты</a></h3>
                        <span class="section-8__item--5-span">«Радуга на тарелке»</span>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Ярко окрашенные овощи, фрукты и ягоды: Свекла, морковь,
                                черника, черная смородина, тыква, цитрусовые</li>
                            <li class="section-8__list-item">Специи и ароматные травы: Имбирь, куркума, корица</li>
                            <li class="section-8__list-item">Белый и зеленый листовой чай: Заваривать не более 2 минут,
                                затем сливать и сразу пить</li>
                            <li class="section-8__list-item">Орехи: Замачивать на ночь, не более горсти в день</li>
                        </ul>
                    </div>
                </div>
                <div class="section-8__col section-8__col--8">
                    <div class="section-8__item">
                        <h3>«Правильные» жиры</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Оливковое масло не менее 2 столовых ложек в день</li>
                            <li class="section-8__list-item">Авокадо не более 1 штуки в день (1/4 дневной нормы калорий)
                            </li>
                            <li class="section-8__list-item">Жирная несоленая рыба, лучше мелкая</li>
                        </ul>
                    </div>
                    <div class="section-8__item">
                        <h3>Ротационный тип питания</h3>
                        <ul class="section-8__list">
                            <li class="section-8__list-item">Питание должно быть разнообразным</li>
                            <li class="section-8__list-item">Следует есть каждый продукт не дольше, чем 2-3 дня подряд
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section-8__download">
                <a href="#" class="wf-download" download>Скачать</a>
            </div>
        </section>
        <!-- section-8 - End -->