        <!-- section-6 - Start -->
        <section id="section-6" class="section-6">
          <aside class="section-6__aside">
              <h2 class="substrate substrate--violet">Гормоны — это не страшно!</h2>
              <p>МЕНОПАУЗА — <br>ЭТО ЕСТЕСТВЕННЫЙ ЭТАП В ЖИЗНИ ЖЕНЩИНЫ! <br>Мы можем оставаться привлекательными
                  и энергичными вне зависимости от возраста. Заместительная гормональная терапия способствует активной
                  социальной и личной жизни, помогая замедлить процессы старения.</p>
          </aside>
          <div class="section-6__list">
              <div class="section-6__item section-6__item--1">
                  <span class="section-6__item-label">Миф 1</span>
                  <h3>Гормоны — это химия!</h3>
                  <p>Идентичные натуральным, гормоны в препаратах для заместительной гормональной терапии применяются
                      в оптимальных для организма дозировках и воспринимаются им как «родные».</p>
              </div>
              <div class="section-6__item section-6__item--2">
                  <span class="section-6__item-label">Миф 2</span>
                  <h3>От гормонов растут усы!</h3>
                  <p>Появление «усов» и живота по мужскому типу — ничто иное, как недостаток женских половых гормонов
                      вследствие менопаузы. Заместительная гормональная терапия помогает бороться с такими
                      проявлениями дисбаланса, быть женственной и привлекательной!</p>
              </div>
              <div class="section-6__item section-6__item--3">
                  <h4>Зачем вредить организму гормонами?</h4>
                  <p>Заместительная гормональная терапия восполняет недостаток гормонов в организме женщины, помогая
                      ей справиться с гормональной перестройкой. Современные женщины живут с дефицитом гормонов около
                      30 лет после начала менопаузы,что сказывается не только на внешности, но и на здоровье —
                      провоцируя развитие таких недугов, как остеопороз, ожирение, сердечно-сосудистые заболевания.
                      Заместительная гормональная терапия помогает избавиться от негативных симптомов и держать
                      процесс старения под контролем. Почему бы не облегчить себе жизнь?</p>
              </div>
              <div class="section-6__item section-6__item--4">
                  <span class="section-6__item-label">Миф 3</span>
                  <h4>От гормонов набирают вес</h4>
                  <p>Дефицит женских половых гормонов вызывает нарушения метаболизма и развитие толерантности
                      к глюкозе, что относится к основным причинам набора веса. Заместительная гормональная терапия
                      помогает вернуть здоровый обмен веществ. Но правильное питание и спорт никогда не будут лишними!
                  </p>
              </div>
          </div>
      </section>
      <!-- section-6 - End -->