        <!-- section-7 - Start -->
        <section id="section-7" class="section-7">
            <h2 class="section-7__title">
                <span class="substrate substrate--pink">Будьте</span><br>
                <span class="substrate substrate--violet section-7__title-span">активными!</span>
            </h2>
            <div class="section-7__list">
                <div class="section-7__item section-7__item--1">
                    <img src="images/alt-circles/7.svg" alt="Аэробная нагрузка" class="section-7__item-img">
                    <h3 class="section-7__item-title">Аэробная нагрузка</h3>
                    <ul class="section-7__item-list">
                        <li class="section-7__list-item">Тонус сердечно-сосудистой системы</li>
                        <li class="section-7__list-item">Тренировка легких</li>
                        <li class="section-7__list-item">Сжигание жира и поддержание здорового веса</li>
                        <li class="section-7__list-item">Повышение выносливости
                        </li>
                    </ul>

                    <span class="section-7__item-span">
                        <span>150</span> минут <br>в неделю
                    </span>
                </div>
                <div class="section-7__item section-7__item--2">
                    <img src="images/alt-circles/8.svg" alt="Силовая нагрузка" class="section-7__item-img">
                    <h3 class="section-7__item-title">Силовая нагрузка</h3>
                    <ul class="section-7__item-list">
                        <li class="section-7__list-item">Помогает предотвратить снижение костной плотности</li>
                        <li class="section-7__list-item">Способствует сохранению мышечной массы</li>
                        <li class="section-7__list-item">Создает красивую, подтянутую фигуру</li>
                    </ul>
                    <span class="section-7__item-span">
                        <span>60</span> минут <br>в неделю
                    </span>
                </div>
                <div class="section-7__item section-7__item--3">
                    <img src="images/alt-circles/9.svg" alt="Растяжка" class="section-7__item-img">
                    <h3 class="section-7__item-title">Растяжка</h3>
                    <ul class="section-7__item-list">
                        <li class="section-7__list-item">Поддерживает здоровье суставов</li>
                        <li class="section-7__list-item">Сохраняет эластичность мышц</li>
                        <li class="section-7__list-item">Избавляет от болезненных ощущений</li>
                    </ul>
                    <span class="section-7__item-span">
                        <span>3</span> минуты <br>ежедневно
                    </span>
                </div>
                <div class="section-7__item section-7__item--4">
                    <img src="images/alt-circles/10.svg" alt="Упражнения на баланс" class="section-7__item-img">
                    <h3 class="section-7__item-title">Упражнения на баланс</h3>
                    <ul class="section-7__item-list">
                        <li class="section-7__list-item">Развивают равновесие и предотвращают падения</li>
                        <li class="section-7__list-item">Помогают повысить концентрацию внимания</li>
                    </ul>
                    <span class="section-7__item-span">
                        <span>5</span> минут <br>ежедневно
                    </span>
                </div>
                <div class="section-7__item section-7__item--5">
                    <img src="images/alt-circles/11.svg" alt="Йога и медитация" class="section-7__item-img">
                    <h3 class="section-7__item-title">Йога и медитация</h3>
                    <ul class="section-7__item-list">
                        <li class="section-7__list-item">Помогают бороться со стрессом и перепадами настроения</li>
                        <li class="section-7__list-item">Восстанавливают сексуальную функцию</li>
                        <li class="section-7__list-item">Поддерживают здоровый сон</li>
                    </ul>
                    <span class="section-7__item-span">
                        <span>2</span> раза <br>в неделю
                    </span>
                </div>
            </div>
        </section>
        <!-- section-7 - End -->