        <!-- section-4 - Start -->
        <section id="section-4" class="section-4">
          <h2 class="section-4__title">
              <span class="substrate substrate--violet">Для чего нужна</span>
              <span class="violet heading-3">МЕНОПАУЗАЛЬНАЯ гормональная терапия?</span>
          </h2>
          <div class="section-4__row">
              <div class="section-4__aside">
                  <p>
                      <a class="landing_link" href="/stati/klimaks/"><strong>Лечение всех симптомов
                              менопаузы:</strong></a> нарушений метаболизма, сексуальной функции, увядания кожи <br>
                      <a class="landing_link" href="/stati/klimaks/"><strong>Профилактика заболеваний</strong></a>,
                      связанных с менопаузой: остеопороза и т.д.
                  </p>
                  <img src="images/img-2.jpg" alt="">
              </div>
              <div class="section-4__col">
                  <h4 class="violet">Как она правильно проводится?</h4>
                  <div class="section-4__list">
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/how-right/1.svg" alt="">
                          </div>
                          <p>
                              • Препараты всегда подбирает и назначает врач. Он составляет индивидуальную схему приема
                              с учетом симптомов климакса и их тяжести, наличия заболеваний и вероятности их
                              осложнений
                          </p>
                      </div>
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/how-right/2.svg" alt="">
                          </div>
                          <p>
                              • Препараты начинают принимать сначала с малой дозы, которая соответствует концентрации
                              гормонов в молодом организме. Затем доза может быть скорректирована
                          </p>
                      </div>
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/how-right/3.svg" alt="">
                          </div>
                          <p>
                              • Каждая женщина по достижении 40 лет должна проходить ежегодный скрининг, что позволит
                              провести оценку состояния ее организма и скорректировать терапию по показаниям
                          </p>
                      </div>
                  </div>
              </div>
              <div class="section-4__col">
                  <h4 class="violet">Какой бывает терапия?</h4>
                  <div class="section-4__list">
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/therapy/1.svg" alt="">
                          </div>
                          <p>
                              <span class="section-4__substrate">Таблетки, драже</span><br>
                              • Прием 1 раз в день <br>
                              • Экономично
                          </p>
                      </div>
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/therapy/2.svg" alt="">
                          </div>
                          <p>
                              <span class="section-4__substrate">Инъекции или имплантаты</span><br>
                              • Высокая стоимость <br>
                              • Необходим прием у врача
                          </p>
                      </div>
                      <div class="section-4__item">
                          <div class="section-4__item-img">
                              <img src="images/therapy/3.svg" alt="">
                          </div>
                          <p>
                              <span class="section-4__substrate">Пластыри, кремы, гели, свечи</span><br>
                              • Высокая стоимость <br>
                              • Неудобство использования <br>
                              • Вероятна местная реакция <br>
                              • Необходимость комбинации с таблетками или внутриматочными устройствами для защиты
                              эндометрия при наличии матки
                          </p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="section-4__footer">
              <h2 class="substrate substrate--froly">Как она правильно проводится?</h2>
              <div class="section-4__footer-list">
                  <span class="section-4__footer-item"><a class="landing_link" href="/stati/klimaks/klimaks/">Вы
                          заметили симптомы менопаузы</a></span>
                  <span class="section-4__footer-item">Прием у гинеколога или гинеколога-эндокринолога</span>
                  <span class="section-4__footer-item">Тщательное обследование и необходимые анализы, которые дадут
                      полную картину о состоянии вашего здоровья</span>
                  <span class="section-4__footer-item">Врач подбирает подходящий именно вам препарат и нужную
                      дозировку</span>
              </div>
          </div>
      </section>
      <!-- section-4 - End -->