<!-- wf-header - Start -->
<header class="wf-header">
  <img src="images/banner-1.png" alt="Не ставьте жизнь на паузу!" class="wf-header__banner">
  <div class="wf-header__row">
    <div class="wf-header__nav">
      <button type="button" class="wf-header__nav-toggle">
        <span class="wf-header__nav-toggle-icon">
          <i></i>
          <i></i>
          <i></i>
        </span>
        <span class="wf-header__nav-toggle-text">Содержание</span>
      </button>
      <nav class="wf-header__nav-list">
        <ul class="nav-list">
          <li class="nav-list__item">
            <a href="#section-1" class="wf-header__nav-item">Женские половые гормоны</a>
          </li>
          <li class="nav-list__item">
            <a href="#section-2" class="wf-header__nav-item">Последствия дефицита женских половых
          гормонов</a>
        </li>
          <li class="nav-list__item">
            <a href="#section-3" class="wf-header__nav-item">Как облегчить симптомы менопаузы</a>
          </li>
          <li class="nav-list__item">
            <a href="#section-4" class="wf-header__nav-item">Для чего нужна гормональная терапия</a>
          </li>
          <li class="nav-list__item">
            <a href="#section-5" class="wf-header__nav-item">Какими бывают препараты для гормональной
          терапии</a>
        </li>
          <li class="nav-list__item">
            <a href="#section-6" class="wf-header__nav-item">Мифы о гормонах</a>
          </li>
          <li class="nav-list__item">
            <a href="#section-7" class="wf-header__nav-item">Будьте активными</a>
          </li>
          <li class="nav-list__item">
            <a href="#section-8" class="wf-header__nav-item">Питайтесь правильно</a>
          </li>
        </ul>
      </nav>
    </div>
    <a href="#" class="wf-header__download wf-download" download>
      <span class="wf-header__download-text">Скачать</span></a>
  </div>
</header>
<!-- wf-header - End -->